<div class="container">
  <h1>{{pageTitle}}</h1>
  <h3>Weber News</h3>
  <p>
    Use Weber News to keep up to date with current news from many of your favorite news sources, as well as a few news sources that may be new to you. Just select a news source from the dropdown at the top of the News Feeds page to view the top articles of the day from that particular source. If you want a larger view of an article just select larger view at the bottom of each article. There you will see a few more details about the article. From here you can also click on the article url to go straight to the source to read the entire article. You may also click the favorites button to have the article saved to your favorites page for future viewing instead of having to search for it again later. Here at Weber News we try to make it as easy as possible for you to stay up to date on all current events. Thank you for chosing us as you go to news source.
  </p>
  <p>
    This project was created for Project and Portfolio V class my Web Design and Development. The project was created using Angular 4. It contains no backend at this moment but will use local storage to store the favorite articles to be viewed on the Favorites page.
  </p>
</div>
