<h1>{{pageTitle}}</h1>

<div id="articlesContainer" class="container">

  <ul *ngIf="articlesFromStorage.length > 0; else emptyMessageBlock" class="cardContainer card-group row">
    <li (click)="ClickedArticle(article, i)" class="articleCards" *ngFor="let article of articlesFromStorage; let i = index">
      <div class="articleInfo">
        <h4 class="articleTitle">{{article.title}}</h4>
        <div><img class="newsImages" src="{{article.urlToImage}}"></div>
        <p class="articleDescription">{{article.description}}</p>
        <div class="overlay"></div>
        <a id="favoritesModalBtn" data-toggle="modal" data-target="#favoritesModal" [attr.data-id]="article">See More</a>
      </div>
      <div class="commentCard">
        <h4 class="commentTitle">Comment</h4>
        <p class="articleComment">{{article.comment}}</p>
        <div class="overlay"></div>
      </div>
    </li>
  </ul>
  <ng-template #emptyMessageBlock>
    <h3 class="emptyMessage">No Favorites saved!</h3>
    <h4 class="emptyMessage">Click "See More" on the articles you like on the News Feeds page and press the Favorite button to add it here to your Favorites page! </h4>
  </ng-template>
</div>

<!-- Modal -->
<div class="modal fade" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="closeX" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title articleTitle" id="favoritesModalLabel">{{clickedArticle.title}}</h4>
      </div>
      <div class="modal-body">
        <div><img class="newsImages" src="{{clickedArticle.urlToImage}}"></div>
        <p class="articleDescription"><span>Description: </span>{{clickedArticle.description}}</p>
        <p class="articleAuthor" *ngIf="clickedArticle.author; else elseBlock"><span>Author: </span>{{clickedArticle.author}}</p>
        <ng-template #elseBlock><p class="articleAuthor"><span>Author: </span>Unknown</p><br></ng-template>
        <p><span>Link to Article: </span><a href="{{clickedArticle.url}}">{{clickedArticle.url}}</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" [attr.data-id]="clickedArticle" (click)="DeleteArticle()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
