
<form class="navbar-form searchForm">
  <select [(ngModel)]="newsSource" (ngModelChange)="sourceChanged($event)" id="searchBar" name="select1" onmousedown="if(this.options.length>4){this.size=4;}" onblur="this.size=0;">
    <option value="abc-news-au">ABC News</option>
    <option value="associated-press">Associated Press</option>
    <option value="bbc-news">BBC News</option>
    <option value="bbc-sport">BBC Sport</option>
    <option value="bild">Bild</option>
    <option value="bloomberg">Bloomberg</option>
    <option value="breitbart-news">Breitbart News</option>
    <option value="business-insider">Business Insider</option>
    <option value="buzzfeed">Buzzfeed</option>
    <option value="cnbc">CNBC</option>
    <option value="cnn">CNN</option>
    <option value="daily-mail">Daily Mail</option>
    <option value="engadget">Engadget</option>
    <option value="entertainment-weekly">Entertainment Weekly</option>
    <option value="espn">ESPN</option>
    <option value="espn-cric-info">ESPN Cric</option>
    <option value="financial-times">Financial Times</option>
    <option value="focus">Focus</option>
    <option value="fortune">Fortune</option>
    <option value="four-four-two">FourFourTwo</option>
    <option value="fox-sports">Fox Sports</option>
    <option value="google-news">Google News</option>
    <option value="hacker-news">Hacker News</option>
    <option value="ign">IGN</option>
    <option value="independent">Independent</option>
    <option value="mashable">Mashable</option>
    <option value="metro">Metro</option>
    <option value="mtv-news">MTV News</option>
    <option value="national-geographic">National Geographic</option>
    <option value="new-scientist">New Scientist</option>
    <option value="newsweek">Newsweek</option>
    <option value="new-york-magazine">New York Magazine</option>
    <option value="nfl-news">NFL News</option>
    <option value="reddit-r-all">Reddit /r/all</option>
    <option value="techcrunch">TechCrunch</option>
    <option value="techradar">TechRadar</option>
    <option value="the-new-york-times">The New York Times</option>
    <option value="the-wall-street-journal">The Wall Street Journal</option>
    <option value="the-washington-post">The Washington Post</option>
    <option value="time">Time</option>
    <option value="usa-today">USA Today</option>
    <option value="time">Time</option>
  </select>
  <button type="button" onclick="makeRequest()">Search</button>
</form>

<!--{{ articles | json }}-->

<div>
  <h1>{{pageTitle}}</h1>

  <div id="articlesContainer" class="container">
    <ul id="cardContainer">
      <li id="articleCards" *ngFor="let article of articlesList[0]; let i = index">
        <a class="hidden">{{i + 1}}</a>
        <h3 class="articleTitle">{{article.title}}</h3>
        <div><img class="newsImages" src="{{article.urlToImage}}"></div>
        <p class="articleDescription">{{article.description}}</p>
        <a id="modalBtn" data-toggle="modal" data-target="#myModal" [attr.data-id]="article" (click)="SelectArticle(article)">Larger View</a>
      </li>
    </ul>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <h3 class="articleTitle">{{selectedArticle.title}}</h3>
          <div><img class="newsImages" src="{{selectedArticle.urlToImage}}"></div>
          <p class="articleDescription">Description: {{selectedArticle.description}}</p>
          <p class="articleAuthor" *ngIf="selectedArticle.author; else elseBlock">Author: {{selectedArticle.author}}</p>
          <ng-template #elseBlock>Author: Unknown<br></ng-template>
          <a href="{{selectedArticle.url}}">Link to Article: {{selectedArticle.url}}</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [attr.data-id]="selectedArticle" (click)="SaveArticle(selectedArticle)" data-dismiss="modal">Favorite</button>
        </div>
      </div>
    </div>
  </div>
</div>
