<!-- HTML for SEARCH BAR -->
<form class="navbar-form searchForm">
  <select id="userSelections" class="searchBar" name="select1" onmousedown="if(this.options.length>4){this.size=4;}"  onchange='this.size=0;' onblur="this.size=0;">
    <option value="none">Select News Source</option>
    <option value="abc-news-au">ABC News</option>
    <option value="associated-press">Associated Press</option>
    <option value="bbc-news">BBC News</option>
    <option value="bbc-sport">BBC Sport</option>
    <option value="bild">Bild</option>
    <option value="bloomberg">Bloomberg</option>
    <option value="breitbart-news">Breitbart News</option>
    <option value="business-insider">Business Insider</option>
    <option value="buzzfeed">Buzzfeed</option>
    <option value="cnbc">CNBC</option>
    <option value="cnn">CNN</option>
    <option value="daily-mail">Daily Mail</option>
    <option value="engadget">Engadget</option>
    <option value="entertainment-weekly">Entertainment Weekly</option>
    <option value="espn">ESPN</option>
    <option value="espn-cric-info">ESPN Cric</option>
    <option value="financial-times">Financial Times</option>
    <option value="focus">Focus</option>
    <option value="fortune">Fortune</option>
    <option value="four-four-two">FourFourTwo</option>
    <option value="Fox Sports">fox-sports</option>
    <option value="google-news">Google News</option>
    <option value="hacker-news">Hacker News</option>
    <option value="ign">IGN</option>
    <option value="independent">Independent</option>
    <option value="mashable">Mashable</option>
    <option value="metro">Metro</option>
    <option value="mtv-news">MTV News</option>
    <option value="national-geographic">National Geographic</option>
    <option value="new-scientist">New Scientist</option>
    <option value="newsweek">Newsweek</option>
    <option value="new-york-magazine">New York Magazine</option>
    <option value="nfl-news">NFL News</option>
    <option value="reddit-r-all">Reddit /r/all</option>
    <option value="techcrunch">TechCrunch</option>
    <option value="techradar">TechRadar</option>
    <option value="the-new-york-times">The New York Times</option>
    <option value="the-wall-street-journal">The Wall Street Journal</option>
    <option value="the-washington-post">The Washington Post</option>
    <option value="time">Time</option>
    <option value="usa-today">USA Today</option>
    <option value="time">Time</option>
  </select>
  <button type="button" onclick="makeRequest()">Search</button>
</form>
<div class="container">
  <table id="dataTable" class="table table-striped">
    <thead>
      <tr id="myRow">
        <td>Title</td>
        <td>Description</td>
        <td>Author/Url</td>
        <td>Image Url</td>
      </tr>
    </thead>

    <tbody id="dataBody">

    </tbody>
  </table>
</div>
